<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
    </target>

    <target name="errorFile" xsi:type="File" layout="${pad:padding=8:inner=${threadid}}|${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${callsite}|${message}" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log" keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole"/>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="errorFile"/>
  </rules>
</nlog>